<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.16.9/dist/xlsx.full.min.js"></script>

    <style>
        /* Add any custom styles specific to your runsheet here */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            /* Adjust the value as needed */
        }

        .button-container {
            margin-top: 20px;
            /* Adjust the value as needed */
            text-align: center;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            /* Center-align horizontally */
            vertical-align: middle;
            /* Center-align vertically */
        }

        th {
            background-color: #6e9e9e;
            font-weight: bold;
            /* Add this to make labels bold */
        }

        /* Adjust the width and height of the logo */
        .logo-cell img {
            width: 150px;
            /* Adjust the width as needed */
            height: auto;
            /* Maintain aspect ratio */
        }

        /* Add borders to th elements in the first row, excluding the logo cell */
        tr:first-child th:not(.logo-th) {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        /* Add any custom styles specific to your form here */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Allow text selection only for elements with the selectable-content class */
        td .selectable-content {
            user-select: text;
        }

        /* Disable text selection for all other td elements */
        td:not(.selectable-content) {
            user-select: none;
        }

        /* Hide buttons when printing */
        @media print {

            #printButton,
            #backButton,
            #saveButton,
            #exportExcelButton {
                display: none;
            }

            .container-bg {
                display: none;
            }

            body {
                margin: 0;
                /* Reset page margins to 0 */
                padding: 0;
            }

            table {
                width: calc(100% - 10px);
                /* Adjust the width to create a margin */
                page-break-inside: avoid;
            }

            th,
            td {
                padding: 8px;
                text-align: center;
                vertical-align: middle;
            }

            th {
                background-color: #6e9e9e;
                font-weight: bold;
            }

            /* Adjust the width and height of the logo */
            .logo-cell img {
                width: 150px;
                height: auto;
            }

            /* Add borders to th elements in the first row, excluding the logo cell */
            tr:first-child th:not(.logo-th) {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }

            /* Ensure the right border is visible by reducing padding */
            th,
            td {
                padding: 4px;
                border: 1px solid black;
                /* Add borders to all cells */
            }
        }

        .logo {
  height: 40px;
  width: auto;
  max-height: 40px;
}

@media (max-width: 768px) {
  .logo {
    height: 30px;
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 25px;
    max-height: 25px;
  }
}
    </style>

</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container d-flex align-items-center">

    <!-- Logo: left on mobile, center on desktop -->
    <a class="navbar-brand d-lg-none" href="/">
      <img src="/images/logoportalwhite.png" alt="Go Rush Logo" class="logo img-fluid">
    </a>

    <!-- Burger menu button -->
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse w-100" id="navbarResponsive">

      <!-- Desktop left menus -->
      <ul class="navbar-nav d-none d-lg-flex">
        <% if (['finance','warehouse','cs','dispatcher','manager','admin'].includes(user.role)) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="desktopOperationDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operation</a>
            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                            <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                            <% } %>
                            <% if (['warehouse', 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://warehouse.gorushbn.com">Scan Parcel In Warehouse</a>
                            <% } %>
                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                            <% } %>
                            <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/addressAreaCheck">Address Area Checker</a>
                                <a class="dropdown-item" href="/searchJobs">Search Jobs</a>
                            <% } %>
                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'].includes(user.role)) { %>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header">POD</div>
                                <a class="dropdown-item" href="/listofpharmacyPod">Pharmacy</a>
                                <a class="dropdown-item" href="/listofnoncodPod">EWE/PDU/MGLOBAL</a>
                                <a class="dropdown-item" href="/listofldPod">LD/Pure51/KPT/ICARUS</a>
                                <a class="dropdown-item" href="/listofcbslPod">Cross Border Service (Limbang)</a>
                            <% } %>
                        </div>
          </li>
        <% } %>
        <% if (['moh','cs','manager','admin','warehouse'].includes(user.role)) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="desktopMohDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MOH</a>
            <div class="dropdown-menu" aria-labelledby="mohDropdown">
                            <% if (['moh'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/mohsearch">Search</a>
                            <% } %>
                            <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/mohorders?">Create Pharmacy Form</a>
                            <% } %>
                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/manifestviewer">Pharmacy Form List</a>
                                <a class="dropdown-item" href="/listofWargaEmasOrders">All Warga Emas Orders</a>
                            <% } %>
                        </div>
          </li>
        <% } %>
      </ul>

      <!-- Center logo for desktop -->
      <a class="navbar-brand mx-auto d-none d-lg-flex" href="/">
        <img src="/images/logoportalwhite.png" alt="Go Rush Logo" class="logo img-fluid">
      </a>

      <!-- Desktop right menus -->
      <ul class="navbar-nav ms-auto d-none d-lg-flex">
        <% if (user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="desktopAccountDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.name %> (<%= user.role.toUpperCase() %>)
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="desktopAccountDropdown">
              <a class="dropdown-item" href="/">Dashboard</a>
              <% if (['admin'].includes(user.role)) { %>
                <a class="dropdown-item" href="/createUser">Create User</a>
              <% } %>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>
      </ul>

      <!-- Mobile menus (visible when burger expands) -->
      <ul class="navbar-nav d-lg-none mt-2">
        <% if (['finance','warehouse','cs','dispatcher','manager','admin'].includes(user.role)) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="mobileOperationDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operation</a>
            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                            <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                            <% } %>
                            <% if (['warehouse', 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://warehouse.gorushbn.com">Scan Parcel In Warehouse</a>
                            <% } %>
                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                            <% } %>
                            <% if (['finance', 'warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="/addressAreaCheck">Address Area Checker</a>
                                <a class="dropdown-item" href="/searchJobs">Search Jobs</a>
                            <% } %>
                            <% if (['cs' , 'warehouse' , 'manager' , 'admin'].includes(user.role)) { %>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header">POD</div>
                                <a class="dropdown-item" href="/listofpharmacyPod">Pharmacy</a>
                                <a class="dropdown-item" href="/listofnoncodPod">EWE/PDU/MGLOBAL</a>
                                <a class="dropdown-item" href="/listofldPod">LD/Pure51/KPT/ICARUS</a>
                                <a class="dropdown-item" href="/listofcbslPod">Cross Border Service (Limbang)</a>
                            <% } %>
                        </div>
          </li>
        <% } %>
        <% if (['moh','cs','manager','admin','warehouse'].includes(user.role)) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="mobileMohDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MOH</a>
            <div class="dropdown-menu" aria-labelledby="mohDropdown">
                            <% if (['moh'].includes(user.role)) { %>
                                <a class="dropdown-item" href="/mohsearch">Search</a>
                            <% } %>
                            <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/mohorders?">Create Pharmacy Form</a>
                            <% } %>
                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                <a class="dropdown-item" href="https://pharmacy.gorushbn.com/manifestviewer">Pharmacy Form List</a>
                                <a class="dropdown-item" href="/listofWargaEmasOrders">All Warga Emas Orders</a>
                            <% } %>
                        </div>
          </li>
        <% } %>
        <% if (user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="mobileAccountDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.name %> (<%= user.role.toUpperCase() %>)
            </a>
            <div class="dropdown-menu" aria-labelledby="mobileAccountDropdown">
              <a class="dropdown-item" href="/">Dashboard</a>
              <% if (['admin'].includes(user.role)) { %>
                <a class="dropdown-item" href="/createUser">Create User</a>
              <% } %>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date of Form</th>
                    <th>No.</th>
                    <th>Go Rush Status</th>
                    <th>Tracking Number</th>
                    <th>Patient Name</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>BruHIMs Number</th>
                    <th>IC No.</th>
                    <th>Appointment Place</th>
                    <th>Phone Number</th>
                    <th>Additional Phone Number</th>
                    <th>Delivery Code</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
                <% let prefix='' ; %>
                    <% if ((mohForm==='STD' )||(mohForm==='EXP' )||(mohForm==='IMM' )) { %>
                        <% if (batchChoice==='1' ) { %>
                            <% var startCounter=1; %>
                                <% } %>
                                    <% if (batchChoice>='2' ) { %>
                                        <% var startCounter=parseInt(b2Start); %>
                                            <% } %>
                                                <% } %>

                                                    <% if ((mohForm==='TTG' )||(mohForm==='KB' )) { %>
                                                        <% var startCounter=parseInt(b2Start); %>
                                                            <% } %>

                                                                <% if (mohForm==='STD' ) { %>
                                                                    <% prefix='S' ; %>
                                                                        <% } else if (mohForm==='EXP' ) { %>
                                                                            <% prefix='E' ; %>
                                                                                <% } else if (mohForm==='IMM' ) { %>
                                                                                    <% prefix='IMM' ; %>
                                                                                        <% } else if (mohForm==='TTG' )
                                                                                            { %>
                                                                                            <% prefix='T' ; %>
                                                                                                <% } else if
                                                                                                    (mohForm==='KB' ) {
                                                                                                    %>
                                                                                                    <% prefix='K' ; %>
                                                                                                        <% } %>

                                                                                                            <% orders.forEach(function(order)
                                                                                                                { %>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <%= dateOfForm
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= prefix
                                                                                                                            +
                                                                                                                            (startCounter++)
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        contenteditable="true">
                                                                                                                    </td>
                                                                                                                    <td id="trackingNumber"
                                                                                                                        class="selectable-content">
                                                                                                                        <%= order.doTrackingNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.receiverName
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.receiverAddress
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.area
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.patientNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        style="mso-number-format:'\@';">
                                                                                                                        <%= order.icPassNum
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.appointmentPlace
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.receiverPhoneNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.additionalPhoneNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.deliveryTypeCode
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.remarks
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <% });
                                                                                                                    %>
            </tbody>
        </table>

        <div class="button-container text-center">
            <button id="saveButton" class="btn btn-success">Save Form</button>
            <button id="exportExcelButton" class="btn btn-success">Export Excel</button>
            <button id="backButton" class="btn btn-primary" onclick="history.back()">Back to List</button>
        </div>
    </div>

    <!-- Include the necessary JavaScript libraries for DataTables and other custom scripts if needed -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            document.getElementById('exportExcelButton').disabled = true;

            // Retrieve the first and last values from the No. column
            const noColumn = document.querySelectorAll('table tbody tr td:nth-child(2)'); // 3 is the column index (0-based)
            let firstNo = ''; // Initialize to an empty string
            let lastNo = '';

            noColumn.forEach((td, index) => {
                if (index === 0) {
                    firstNo = td.textContent;
                }
                lastNo = td.textContent; // Update lastNo for every iteration
            });

            const batchNumber = '<%= batchChoice %>';
            firstNo = firstNo.trim(); // Remove leading/trailing spaces
            lastNo = lastNo.trim(); // Remove leading/trailing spaces
            const dateOfForm = '<%= dateOfForm %>'; // Get the dateOfForm from the EJS template

            if ('<%= mohForm %>' === 'STD') {
                var prefix = 'STD';
            } else if ('<%= mohForm %>' === 'EXP') {
                var prefix = 'EXP';
            } else if ('<%= mohForm %>' === 'IMM') {
                var prefix = 'IMM';
            } else if ('<%= mohForm %>' === 'TTG') {
                var prefix = 'TUT';
            } else if ('<%= mohForm %>' === 'KB') {
                var prefix = 'KB';
            } else {
                var prefix = ''; // Default prefix when mohform is not recognized
            }

            // Construct the formName with the determined prefix
            const formName = `${prefix} B${batchNumber} ${firstNo}-${lastNo} ${dateOfForm}`;

            document.getElementById("exportExcelButton").addEventListener("click", function () {
                // Create a new Excel workbook
                const wb = XLSX.utils.book_new();

                // Extract the table data
                const table = document.querySelector('table');
                const ws = XLSX.utils.table_to_sheet(table);

                // Force column 9 (IC No.) to be text and keep leading zeros
                const range = XLSX.utils.decode_range(ws['!ref']);

                for (let R = range.s.r + 1; R <= range.e.r; ++R) {
                    const cellAddress = { c: 8, r: R }; // Column 9 (IC No.), 0-based index
                    const cellRef = XLSX.utils.encode_cell(cellAddress);

                    const cell = ws[cellRef];
                    if (cell && typeof cell.v !== 'undefined') {
                        cell.t = 's'; // Mark as string
                        cell.v = cell.v.toString().padStart(8, '0'); // Ensure 8-digit IC with leading 0
                    }
                }

                // Add the worksheet to the workbook
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Generate a blob containing the Excel data
                const filename = formName + '.xlsx';
                XLSX.writeFile(wb, filename);
            });

            // Add an event listener to the "Save" button
            document.getElementById('saveButton').addEventListener('click', function () {
                var trackingNumbers = [];

                // Iterate through the table rows and push the tracking numbers into the array
                var trackingNumberCells = document.querySelectorAll('td#trackingNumber');
                trackingNumberCells.forEach(function (cell) {
                    trackingNumbers.push(cell.textContent.trim());
                });

                // Get the number of forms (table rows)
                const numberOfForms = document.querySelectorAll('table tbody tr').length;

                if (confirm('Are you sure you want to save the Form data?')) {
                    // User confirmed the save action

                    // Use the trackingNumbers array here
                    trackingNumbers.forEach(function (trackingNumber) {
                        // Perform the necessary actions with each tracking number
                        console.log('Tracking Number: ' + trackingNumber);
                    });

                    // Clone the HTML content and remove the elements you don't want to save
                    const clonedDocument = document.cloneNode(true);

                    // Remove the buttons
                    const buttonsToRemove = clonedDocument.querySelectorAll('#exportExcelButton, #backButton, #saveButton');
                    buttonsToRemove.forEach(button => button.remove());

                    // Remove the container-bg
                    const containerBgToRemove = clonedDocument.querySelector('.container-bg');
                    if (containerBgToRemove) {
                        containerBgToRemove.remove();
                    }

                    const htmlContent = clonedDocument.documentElement.outerHTML;

                    fetch('/save-form', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            formName: formName,
                            formDate: dateOfForm, // Set formDate to dateOfForm
                            batchNo: batchNumber, // Set batchNo to batchChoice
                            startNo: firstNo, // Set startNo to firstNo
                            endNo: lastNo, // Set endNo to lastNo
                            htmlContent: htmlContent,
                            mohForm: prefix,
                            trackingNumbers: trackingNumbers,
                            numberOfForms: numberOfForms
                        })
                    })
                        .then(response => {
                            console.log('Response:', response);
                            if (response.ok) {
                                // Disable the "Save" button
                                document.getElementById('saveButton').disabled = true;
                                // Enable the "Export Excel" button
                                document.getElementById('exportExcelButton').disabled = false;
                                alert('Form data saved successfully!');
                            } else {
                                alert('Failed to save Form data.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        });
    </script>
</body>

</html>