<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.16.9/dist/xlsx.full.min.js"></script>

    <style>
        /* Add any custom styles specific to your runsheet here */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            /* Adjust the value as needed */
        }

        .button-container {
            margin-top: 20px;
            /* Adjust the value as needed */
            text-align: center;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            /* Center-align horizontally */
            vertical-align: middle;
            /* Center-align vertically */
        }

        th {
            background-color: #6e9e9e;
            font-weight: bold;
            /* Add this to make labels bold */
        }

        /* Adjust the width and height of the logo */
        .logo-cell img {
            width: 150px;
            /* Adjust the width as needed */
            height: auto;
            /* Maintain aspect ratio */
        }

        /* Add borders to th elements in the first row, excluding the logo cell */
        tr:first-child th:not(.logo-th) {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        /* Add any custom styles specific to your form here */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Allow text selection only for elements with the selectable-content class */
        td .selectable-content {
            user-select: text;
        }

        /* Disable text selection for all other td elements */
        td:not(.selectable-content) {
            user-select: none;
        }

        /* Hide buttons when printing */
        @media print {

            #printButton,
            #backButton,
            #saveButton,
            #exportExcelButton {
                display: none;
            }

            .container-bg {
                display: none;
            }

            body {
                margin: 0;
                /* Reset page margins to 0 */
                padding: 0;
            }

            table {
                width: calc(100% - 10px);
                /* Adjust the width to create a margin */
                page-break-inside: avoid;
            }

            th,
            td {
                padding: 8px;
                text-align: center;
                vertical-align: middle;
            }

            th {
                background-color: #6e9e9e;
                font-weight: bold;
            }

            /* Adjust the width and height of the logo */
            .logo-cell img {
                width: 150px;
                height: auto;
            }

            /* Add borders to th elements in the first row, excluding the logo cell */
            tr:first-child th:not(.logo-th) {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }

            /* Ensure the right border is visible by reducing padding */
            th,
            td {
                padding: 4px;
                border: 1px solid black;
                /* Add borders to all cells */
            }
        }
    </style>

</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand mr-auto" href="/">
                            <h2>Go Rush</h2>
                        </a>
                        <ul class="navbar-nav flex-row">
                            <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Operation
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                            <a class="dropdown-item" href="/search">Search</a>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <% } %>
                                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                                <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                                    Checker</a>
                                                <a class="dropdown-item" href="/podGenerator">POD / POC Generator</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item" href="/listofAllOrdersOFD">All Out
                                                    for
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofAllOrdersSC">All Self
                                                    Collect</a>
                                                <a class="dropdown-item" href="/listofAllOrdersAW">All
                                                    Warehouse</a>
                                                <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin'
                                                    ].includes(user.role)) { %>
                                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                                    <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                                    <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                                    <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                                    <a class="dropdown-item" href="/listofgrpPod">POD GRP</a>
                                                    <a class="dropdown-item" href="/listoffmxPod">POD FMX</a>
                                                    <a class="dropdown-item" href="/listofcbslPod">POD Cross Border
                                                        Service
                                                        (Limbang)</a>
                                                    <a class="dropdown-item" href="/listofewensPod">POD EWE NON
                                                        SHEIN</a>
                                                    <a class="dropdown-item" href="/listoftemuPoc">POC TEMU</a>
                                                    <% } %>
                                    </div>
                                </li>
                                <% } %>
                                    <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role))
                                        {%>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                MOH
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/mohsearch">Search</a>
                                                <% } %>
                                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                        ].includes(user.role)) { %>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH
                                                            STD</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH
                                                            EXP</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH
                                                            IMM</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH
                                                            TTG</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH
                                                            KB</a>
                                                        <% } %>
                                                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <a class="dropdown-item" href="/listofpharmacyMOHForms">Pharmacy
                                                                    Form
                                                                    List</a>
                                                                <% } %>
                                                                    <% if (['moh', 'finance' , 'cs' , 'manager' , 'admin'
                                                                        ].includes(user.role)) { %>
                                            </div>
                                        </li>
                                        <% } %>
        
                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role)) {
                                                %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        EWE
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) { %>
                                                            <a class="dropdown-item" href="/ewemanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <div class="dropdown-header">SHEIN</div>
                                                                <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersCD">Cancelled</a>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <div class="dropdown-header">NON SHEIN</div>
                                                                <a class="dropdown-item" href="/listofEWENSOrders">All</a>
                                                                <a class="dropdown-item" href="/listofEWENSOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofEWENSOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        FMX
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                        <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="temuListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        TEMU
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="temuListDropdown">
                                                        <a class="dropdown-item" href="/listofTEMUCOrders">All</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersOFC">Out for
                                                            Collection</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersDO">Drop
                                                            Off</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Others
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                        <a class="dropdown-item" href="/listofOrders">All</a>
                                                        <a class="dropdown-item" href="/listofOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                        <a class="dropdown-item" href="/listofOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyJPMCOrders">JPMC</a>
                                                        <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                        <a class="dropdown-item" href="/listofLDOrders">Local
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                        <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                            Service
                                                            (Limbang)</a>
                                                        <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                        <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                            Co.</a>
                                                        <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                        <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                                    </div>
                                                </li>
                                                <% } %>
        
                                                    <!-- Add conditional rendering for login/logout buttons -->
                                                    <% if (user) { %>
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="accountSettingsDropdown" role="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                            </a>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="accountSettingsDropdown">
                                                                <a class="dropdown-item" href="/">Dashboard</a>
                                                                <% if (['admin'].includes(user.role)) { %>
                                                                    <a class="dropdown-item" href="/createUser">Create
                                                                        User</a>
                                                                    <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                                    <% } %>
                                                                        <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                        <a class="dropdown-item" href="/logout">Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/login">Login</a>
                                                            </li>
                                                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date of Form</th>
                    <th>No.</th>
                    <th>Go Rush Status</th>
                    <th>Tracking Number</th>
                    <th>Patient Name</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>BruHIMs Number</th>
                    <th>IC No.</th>
                    <th>Appointment Place</th>
                    <th>Phone Number</th>
                    <th>Additional Phone Number</th>
                    <th>Delivery Code</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>
                <% let prefix='' ; %>
                    <% if ((mohForm==='STD' )||(mohForm==='EXP' )||(mohForm==='IMM' )) { %>
                        <% if (batchChoice==='1' ) { %>
                            <% var startCounter=1; %>
                                <% } %>
                                    <% if (batchChoice==='2' ) { %>
                                        <% var startCounter=parseInt(b2Start); %>
                                            <% } %>
                                                <% } %>

                                                    <% if ((mohForm==='TTG' )||(mohForm==='KB' )) { %>
                                                        <% var startCounter=parseInt(b2Start); %>
                                                            <% } %>

                                                                <% if (mohForm==='STD' ) { %>
                                                                    <% prefix='S' ; %>
                                                                        <% } else if (mohForm==='EXP' ) { %>
                                                                            <% prefix='E' ; %>
                                                                                <% } else if (mohForm==='IMM' ) { %>
                                                                                    <% prefix='IMM' ; %>
                                                                                        <% } else if (mohForm==='TTG' )
                                                                                            { %>
                                                                                            <% prefix='T' ; %>
                                                                                                <% } else if
                                                                                                    (mohForm==='KB' ) {
                                                                                                    %>
                                                                                                    <% prefix='K' ; %>
                                                                                                        <% } %>

                                                                                                            <% orders.forEach(function(order)
                                                                                                                { %>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <%= dateOfForm
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= prefix
                                                                                                                            +
                                                                                                                            (startCounter++)
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td
                                                                                                                        contenteditable="true">
                                                                                                                    </td>
                                                                                                                    <td id="trackingNumber"
                                                                                                                        class="selectable-content">
                                                                                                                        <%= order.doTrackingNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.receiverName
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.receiverAddress
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.area
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.patientNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.icPassNum
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.appointmentPlace
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.receiverPhoneNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.additionalPhoneNumber
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.deliveryTypeCode
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                    <td>
                                                                                                                        <%= order.remarks
                                                                                                                            %>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <% });
                                                                                                                    %>
            </tbody>
        </table>

        <div class="button-container text-center">
            <button id="saveButton" class="btn btn-success">Save Form</button>
            <button id="exportExcelButton" class="btn btn-success">Export Excel</button>
            <button id="backButton" class="btn btn-primary" onclick="history.back()">Back to List</button>
        </div>
    </div>

    <!-- Include the necessary JavaScript libraries for DataTables and other custom scripts if needed -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            document.getElementById('exportExcelButton').disabled = true;

            // Retrieve the first and last values from the No. column
            const noColumn = document.querySelectorAll('table tbody tr td:nth-child(2)'); // 3 is the column index (0-based)
            let firstNo = ''; // Initialize to an empty string
            let lastNo = '';

            noColumn.forEach((td, index) => {
                if (index === 0) {
                    firstNo = td.textContent;
                }
                lastNo = td.textContent; // Update lastNo for every iteration
            });

            const batchNumber = '<%= batchChoice %>';
            firstNo = firstNo.trim(); // Remove leading/trailing spaces
            lastNo = lastNo.trim(); // Remove leading/trailing spaces
            const dateOfForm = '<%= dateOfForm %>'; // Get the dateOfForm from the EJS template

            if ('<%= mohForm %>' === 'STD') {
                var prefix = 'STD';
            } else if ('<%= mohForm %>' === 'EXP') {
                var prefix = 'EXP';
            } else if ('<%= mohForm %>' === 'IMM') {
                var prefix = 'IMM';
            } else if ('<%= mohForm %>' === 'TTG') {
                var prefix = 'TUT';
            } else if ('<%= mohForm %>' === 'KB') {
                var prefix = 'KB';
            } else {
                var prefix = ''; // Default prefix when mohform is not recognized
            }

            // Construct the formName with the determined prefix
            const formName = `${prefix} B${batchNumber} ${firstNo}-${lastNo} ${dateOfForm}`;

            document.getElementById("exportExcelButton").addEventListener("click", function () {
                // Create a new Excel workbook
                const wb = XLSX.utils.book_new();

                // Extract the table data
                const table = document.querySelector('table');
                const ws = XLSX.utils.table_to_sheet(table);

                // Add the worksheet to the workbook
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Generate a blob containing the Excel data
                const filename = formName + '.xlsx';
                XLSX.writeFile(wb, filename);
            });

            // Add an event listener to the "Save" button
            document.getElementById('saveButton').addEventListener('click', function () {
                var trackingNumbers = [];

                // Iterate through the table rows and push the tracking numbers into the array
                var trackingNumberCells = document.querySelectorAll('td#trackingNumber');
                trackingNumberCells.forEach(function (cell) {
                    trackingNumbers.push(cell.textContent.trim());
                });

                // Get the number of forms (table rows)
                const numberOfForms = document.querySelectorAll('table tbody tr').length;

                if (confirm('Are you sure you want to save the Form data?')) {
                    // User confirmed the save action

                    // Use the trackingNumbers array here
                    trackingNumbers.forEach(function (trackingNumber) {
                        // Perform the necessary actions with each tracking number
                        console.log('Tracking Number: ' + trackingNumber);
                    });

                    // Clone the HTML content and remove the elements you don't want to save
                    const clonedDocument = document.cloneNode(true);

                    // Remove the buttons
                    const buttonsToRemove = clonedDocument.querySelectorAll('#exportExcelButton, #backButton, #saveButton');
                    buttonsToRemove.forEach(button => button.remove());

                    // Remove the container-bg
                    const containerBgToRemove = clonedDocument.querySelector('.container-bg');
                    if (containerBgToRemove) {
                        containerBgToRemove.remove();
                    }

                    const htmlContent = clonedDocument.documentElement.outerHTML;

                    fetch('/save-form', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            formName: formName,
                            formDate: dateOfForm, // Set formDate to dateOfForm
                            batchNo: batchNumber, // Set batchNo to batchChoice
                            startNo: firstNo, // Set startNo to firstNo
                            endNo: lastNo, // Set endNo to lastNo
                            htmlContent: htmlContent,
                            mohForm: prefix,
                            trackingNumbers: trackingNumbers,
                            numberOfForms: numberOfForms
                        })
                    })
                        .then(response => {
                            console.log('Response:', response);
                            if (response.ok) {
                                // Disable the "Save" button
                                document.getElementById('saveButton').disabled = true;
                                // Enable the "Export Excel" button
                                document.getElementById('exportExcelButton').disabled = false;
                                alert('Form data saved successfully!');
                            } else {
                                alert('Failed to save Form data.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        });
    </script>
</body>

</html>