<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWE Manifest to Bill Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        .navbar {
            background-color: transparent;
        }

        .container-bg {
            background-color: #333;
        }

        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        .bg-red {
            background-color: rgb(255, 110, 110) !important;
        }

        .bg-yellow {
            background-color: yellow !important;
        }

        .bg-blue {
            background-color: rgb(152, 184, 255) !important;
        }

        .bg-green {
            background-color: rgb(137, 253, 126) !important;
        }

        .btn-submit {
            margin-top: 10px;
        }

        th,
        td {
            font-size: 15px;
            text-align: center;
        }

        table {
            width: 100%;
            margin: 0 auto;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container-bg">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand mr-auto" href="/">
                    <h2>Go Rush</h2>
                </a>
                <ul class="navbar-nav flex-row">
                    <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operation
                            </a>
                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                    <a class="dropdown-item" href="/search">Search</a>
                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                    <% } %>
                                        <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                        <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                            Checker</a>
                                        <a class="dropdown-item" href="/podGenerator">POD / POC Generator</a>
                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                        <a class="dropdown-item" href="/listofAllOrdersOFD">All Out
                                            for
                                            Delivery / Collection</a>
                                        <a class="dropdown-item" href="/listofAllOrdersSC">All Self
                                            Collect / Drop Off</a>
                                        <a class="dropdown-item" href="/listofAllOrdersAW">All
                                            Warehouse</a>
                                            <a class="dropdown-item" href="/listofAllOrdersIR">All
                                                New Orders from Website</a>
                                        <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin'
                                            ].includes(user.role)) { %>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                            <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                            <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                            <a class="dropdown-item" href="/listofgrpPod">POD GRP</a>
                                            <a class="dropdown-item" href="/listoffmxPod">POD FMX</a>
                                            <a class="dropdown-item" href="/listofcbslPod">POD Cross Border
                                                Service
                                                (Limbang)</a>
                                            <a class="dropdown-item" href="/listofewensPod">POD EWE NON
                                                SHEIN</a>
                                            <a class="dropdown-item" href="/listoftemuPod">POD TEMU</a>
                                            <a class="dropdown-item" href="/listoftemuPoc">POC TEMU</a>
                                            <% } %>
                            </div>
                        </li>
                        <% } %>
                            <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin'
                                ].includes(user.role)) {%>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        MOH
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <a class="dropdown-item" href="/mohsearch">Search</a>
                                        <% } %>
                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                ].includes(user.role)) { %>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                <a class="dropdown-item" href="/listofpharmacyMOHOrdersOFD">Out
                                                    for
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofpharmacyMOHOrdersSC">Self
                                                    Collect</a>
                                                <a class="dropdown-item"
                                                    href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                <a class="dropdown-item"
                                                    href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                <a class="dropdown-item"
                                                    href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                <a class="dropdown-item"
                                                    href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH
                                                    STD</a>
                                                <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH
                                                    EXP</a>
                                                <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH
                                                    IMM</a>
                                                <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH
                                                    TTG</a>
                                                <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH
                                                    KB</a>
                                                <% } %>
                                                    <% if (['cs', 'manager' , 'admin' ].includes(user.role)) {
                                                        %>
                                                        <div class="dropdown-divider"></div>
                                                        <!-- Divider here -->
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHForms">Pharmacy
                                                            Form
                                                            List</a>
                                                        <% } %>
                                                            <% if (['moh', 'finance' , 'cs' , 'manager'
                                                                , 'admin' ].includes(user.role)) { %>
                                    </div>
                                </li>
                                <% } %>

                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                        ].includes(user.role)) { %>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                EWE
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                <% if (['finance', 'manager' , 'admin' ].includes(user.role)) {
                                                    %>
                                                    <a class="dropdown-item"
                                                        href="/ewemanifesttobillsearch">Search
                                                        Manifest to Bill</a>
                                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                                    <% } %>
                                                        <div class="dropdown-header">SHEIN</div>
                                                        <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                        <a class="dropdown-item" href="/listofEWEOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofEWEOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWEOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWEOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWEOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div>
                                                        <!-- Divider here -->
                                                        <div class="dropdown-header">NON SHEIN</div>
                                                        <a class="dropdown-item"
                                                            href="/listofEWENSOrders">All</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWENSOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWENSOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWENSOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWENSOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofEWENSOrdersCD">Cancelled</a>
                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                FMX
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                <a class="dropdown-item" href="/listofFMXOrdersOFD">Out for
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofFMXOrdersSC">Self
                                                    Collect</a>
                                                <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                <a class="dropdown-item"
                                                    href="/listofFMXOrdersCompleted">Completed</a>
                                                <a class="dropdown-item"
                                                    href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="temuListDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                TEMU
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="temuListDropdown">
                                                <div class="dropdown-header">Delivery</div>
                                                <a class="dropdown-item" href="/listofTEMUDOrders">All</a>
                                                <a class="dropdown-item" href="/listofTEMUDOrdersOFD">Out for
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofTEMUDOrdersSC">Self
                                                    Collect</a>
                                                <a class="dropdown-item"
                                                    href="/listofTEMUDOrdersAW">Warehouse</a>
                                                <a class="dropdown-item"
                                                    href="/listofTEMUCOrdersCompleted">Completed</a>
                                                <a class="dropdown-item"
                                                    href="/listofTEMUCOrdersCD">Cancelled</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <div class="dropdown-header">Collection</div>
                                                <a class="dropdown-item" href="/listofTEMUCOrders">All</a>
                                                <a class="dropdown-item" href="/listofTEMUCOrdersOFC">Out for
                                                    Collection</a>
                                                <a class="dropdown-item" href="/listofTEMUCOrdersDO">Drop
                                                    Off</a>
                                                <a class="dropdown-item"
                                                    href="/listofTEMUCOrdersCompleted">Completed</a>
                                                <a class="dropdown-item"
                                                    href="/listofTEMUCOrdersCD">Cancelled</a>
                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Others
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/listofOrders">All</a>
                                                <a class="dropdown-item" href="/listofOrdersOFD">Out
                                                    for
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofOrdersSC">Self
                                                    Collect</a>
                                                <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                <a class="dropdown-item"
                                                    href="/listofOrdersCompleted">Completed</a>
                                                <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item"
                                                    href="/listofpharmacyJPMCOrders">JPMC</a>
                                                <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                <a class="dropdown-item" href="/listofLDOrders">Local
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                    Service
                                                    (Limbang)</a>
                                                <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                    Co.</a>
                                                <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                            </div>
                                        </li>
                                        <% } %>

                                            <!-- Add conditional rendering for login/logout buttons -->
                                            <% if (user) { %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#"
                                                        id="accountSettingsDropdown" role="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                    </a>
                                                    <div class="dropdown-menu"
                                                        aria-labelledby="accountSettingsDropdown">
                                                        <a class="dropdown-item" href="/">Dashboard</a>
                                                        <% if (['admin'].includes(user.role)) { %>
                                                            <a class="dropdown-item" href="/createUser">Create
                                                                User</a>
                                                            <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                            <% } %>
                                                                <!-- <a class="dropdown-item" href="#">Edit
                                                                    Profile</a> -->
                                                                <a class="dropdown-item"
                                                                    href="/logout">Logout</a>
                                                    </div>
                                                </li>
                                                <% } else { %>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/login">Login</a>
                                                    </li>
                                                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center mt-4">EWE Manifest to Bill Search</h1>
        <form action="/ewemanifesttobillsearch" method="post">
            <div class="form-group">
                <label for="mawbNo">MAWB No.</label>
                <input type="text" id="mawbNo" name="mawbNo" class="form-control" value="<%= searchQuery.mawbNo %>">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    
    <div id="results" class="mt-4">
        <table class="table" id="orderTable">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Tracking No.</th>
                    <th>Customer Name</th>
                    <th>Phone No.</th>
                    <th>Address</th>
                    <th>Postal Code</th>
                    <th>Weight (KG)</th>
                    <th>No. of Packages</th>
                    <th>Handling Charge</th>
                </tr>
            </thead>
            <tbody id="results-body">
                <% if (!orders || orders.length === 0) { %>
                    <tr>
                        <td colspan="10" class="text-center">No records found</td>
                    </tr>
                <% } else { %>
                    <% orders.forEach((order, index) => { 
                        if (!order || !order.items || order.items.length === 0) {
                            return; // Skip if order or items are undefined or empty
                        }
        
                        let handlingCharge2_8;
                        let handlingCharge3_5;
                        let handlingCharge;
        
                        handlingCharge2_8 = (Math.round((2.8 + 0.25 * Math.max(0, order.parcelWeight - 3)) * 1000) / 1000).toFixed(3);
                        handlingCharge3_5 = (Math.round((3.5 + 0.50 * Math.max(0, order.parcelWeight - 3)) * 1000) / 1000).toFixed(3);
        
                        // Determine the handling charge based on the first character of the postal code
                        let firstChar = order.receiverPostalCode ? order.receiverPostalCode.charAt(0) : '';
                        if (firstChar === 'B') {
                            handlingCharge = handlingCharge2_8;
                        } else if (['K', 'T', 'P'].includes(firstChar)) {
                            handlingCharge = handlingCharge3_5;
                        } else {
                            // Check order.area if postal code is not available or doesn't match
                            if (order.area && order.area !== 'N/A') {
                                if (['TEMBURONG', 'KB', 'KB / SERIA', 'LUMUT', 'TUTONG'].includes(order.area)) {
                                    handlingCharge = handlingCharge3_5;
                                } else {
                                    handlingCharge = handlingCharge2_8;
                                }
                            } else {
                                handlingCharge = `${handlingCharge2_8} or ${handlingCharge3_5}`;
                            }
                        }
                    %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= order.doTrackingNumber %></td>
                            <td><%= order.receiverName %></td>
                            <td><%= order.receiverPhoneNumber %></td>
                            <td><%= order.receiverAddress %></td>
                            <td><%= order.receiverPostalCode %></td>
                            <td><%= order.parcelWeight %></td>
                            <td>1</td>
                            <td><%= handlingCharge %></td>
                        </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable for the order table
            const table = $('#orderTable').DataTable({
                "ordering": false,  // Disable client-side sorting
                "iDisplayLength": 100,  // Set the default number of entries to 100
                "dom": 'Bfrtip', // Add buttons to the DOM
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print' // Buttons for copy, CSV, Excel, PDF, and print
                ]
            });
        });
    </script>
</body>

</html>