<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of FMX Delivery PODs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Include DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <style>
        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        /* Add margin to the submit button */
        .btn-submit {
            margin-top: 10px;
            /* Adjust the margin-top as needed */
        }

        th {
            background-color: #f2f2f2;
            font-size: 15px;
            text-align: center;
            /* Center-align table headers horizontally */
        }

        td {
            font-size: 15px;
            text-align: center;
            /* Center-align table data cells horizontally */
        }

        table {
            width: 80%;
            /* Set the desired width for the table */
            margin: 0 auto;
            /* Center the table horizontally */
            vertical-align: middle;
            /* Center-align table contents vertically */
        }
    </style>
</head>

<body class="bg-light">
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand mr-auto" href="/">
                            <h2>Go Rush</h2>
                        </a>
                        <ul class="navbar-nav flex-row">
                            <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Operation
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['warehouse', 'cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                        <a class="dropdown-item" href="/search">Search</a>
                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                        <% } %>
                                        <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                        <a class="dropdown-item" href="/addressAreaCheck">Address Area Checker</a>
                                        <a class="dropdown-item" href="/podGenerator">POD Generator</a>
                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                        <a class="dropdown-item bg-yellow" href="/listofAllOrdersOFD">All Out for
                                            Delivery</a>
                                        <a class="dropdown-item bg-blue" href="/listofAllOrdersSC">All Self Collect</a>
                                        <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin' ].includes(user.role)) { %>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                            <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                            <a class="dropdown-item" href="/listofgrpPod">POD GRP</a>
                                            <a class="dropdown-item" href="/listoffmxPod">POD FMX</a>
                                            <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                            <a class="dropdown-item" href="/listofcbslPod">POD Cross Border Service
                                                (Limbang)</a>
                                            <% } %>
                                    </div>
                                </li>
                                <% } %>
                                    <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role))
                                        {%>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                MOH
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/mohsearch">Search</a>
                                                <% } %>
                                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                        ].includes(user.role)) { %>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                        <a class="dropdown-item bg-yellow"
                                                            href="/listofpharmacyMOHOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofpharmacyMOHOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH STD</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH EXP</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH IMM</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH TTG</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH KB</a>
                                                        <% } %>
                                                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                                <a class="dropdown-item" href="/listofpharmacyMOHForms">Pharmacy
                                                                    Form
                                                                    List</a>
                                                                <% } %>
                                                                    <% if (['moh', 'finance' , 'cs' , 'manager' , 'admin'
                                                                        ].includes(user.role)) { %>
                                            </div>
                                        </li>
                                        <% } %>
        
                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role)) {
                                                %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        FMX
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                        <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                        <a class="dropdown-item bg-yellow" href="/listofFMXOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofFMXOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        EWE
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) { %>
                                                        <a class="dropdown-item" href="/ewemanifesttobillsearch">Search Manifest to Bill</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <% } %>
                                                        <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                        <a class="dropdown-item bg-yellow" href="/listofEWEOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofEWEOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofEWEOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofEWEOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofEWEOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Others
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                        <a class="dropdown-item" href="/listofOrders">All</a>
                                                        <a class="dropdown-item bg-yellow" href="/listofOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item bg-blue" href="/listofOrdersSC">Self Collect</a>
                                                        <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                        <a class="dropdown-item" href="/listofOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyJPMCOrders">JPMC</a>
                                                        <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                        <a class="dropdown-item" href="/listofLDOrders">Local
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                        <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                            Service
                                                            (Limbang)</a>
                                                        <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                        <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                            Co.</a>
                                                        <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                        <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                                    </div>
                                                </li>
                                                <% } %>
        
                                                    <!-- Add conditional rendering for login/logout buttons -->
                                                    <% if (user) { %>
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="accountSettingsDropdown" role="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                            </a>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="accountSettingsDropdown">
                                                                <a class="dropdown-item" href="/">Dashboard</a>
                                                                <% if (['admin'].includes(user.role)) { %>
                                                                    <a class="dropdown-item" href="/createUser">Create
                                                                        User</a>
                                                                    <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                                    <% } %>
                                                                        <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                        <a class="dropdown-item" href="/logout">Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/login">Login</a>
                                                            </li>
                                                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <main class="container mt-4">
        <h1>List of FMX PODs</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="podTable">
                <thead class="table-primary">
                    <tr>
                        <th class="header">POD Name</th>
                        <th class="header">Dispatcher</th>
                        <th class="header">Area</th>
                        <th class="header">Delivery Date</th>
                        <th class="header">No. of Deliveries</th>
                        <th class="header">POD Creator</th>
                        <th class="header">POD Date</th>
                        <th class="header">Actions</th> <!-- Add Actions column -->
                    </tr>
                </thead>
                <tbody>
                    <% pods.forEach(function(pod) { %>
                        <tr>
                            <td>
                                <a href="/podfmxDetail/<%= pod._id %>">
                                    <%= pod.podName %>
                                </a>
                            </td>
                            <td>
                                <%= pod.dispatcher %>
                            </td>
                            <td>
                                <%= pod.area %>
                            </td>
                            <td>
                                <%= pod.deliveryDate %>
                            </td>
                            <td>
                                <%= pod.rowCount %>
                            </td>
                            <td>
                                <%= pod.podCreator %>
                            </td>
                            <td>
                                <%= pod.podDate %>
                            </td>
                            <td>
                                <a href="/editFmxPod/<%= pod._id %>" class="btn btn-primary btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm"
                                    onclick="confirmDelete('<%= pod._id %>')">Delete</button>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            const table = $('#podTable').DataTable({
                "ordering": false,  // Disable client-side sorting
                "iDisplayLength": 10  // Set the default number of entries to 100
            });
        });
    </script>

    <!-- Script for delete confirmation -->
    <script>
        function confirmDelete(podId) {
            if (confirm("Are you sure you want to delete this record?")) {
                window.location.href = "/deleteFMXPod/" + podId; // Redirect to delete route
            }
        }
    </script>

</body>

</html>