<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POD Result</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <!-- Add your custom CSS styles here -->
    <style>
        /* Add any custom styles specific to your runsheet here */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            /* Adjust the value as needed */
        }

        .button-container {
            margin-top: 20px;
            /* Adjust the value as needed */
            text-align: center;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            /* Center-align horizontally */
            vertical-align: middle;
            /* Center-align vertically */
        }

        th {
            background-color: #6e9e9e;
            font-weight: bold;
            /* Add this to make labels bold */
        }

        /* Adjust the width and height of the logo */
        .logo-cell img {
            width: 150px;
            /* Adjust the width as needed */
            height: auto;
            /* Maintain aspect ratio */
        }

        /* Add borders to th elements in the first row, excluding the logo cell */
        tr:first-child th:not(.logo-th) {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        /* Custom CSS for your page */
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        /* Make the navbar background transparent */
        .navbar {
            background-color: transparent;
        }

        /* Add background color to the container */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Add margin to the navigation links */
        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        /* Add any custom styles specific to your form here */
        .container-bg {
            background-color: #333;
            /* You can use your desired background color here */
        }

        /* Allow text selection only for elements with the selectable-content class */
        td .selectable-content {
            user-select: text;
        }

        /* Disable text selection for all other td elements */
        td:not(.selectable-content) {
            user-select: none;
        }

        /* Style for the barcode and tracking number container */
        .barcode-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .barcode-container svg {
            margin-bottom: 5px;
        }

        .tracking-number {
            user-select: text;
        }

        /* Hide buttons when printing */
        @media print {

            #printButton,
            #backButton,
            #saveButton,
            #exportExcelButton {
                display: none;
            }

            .container-bg {
                display: none;
            }

            body {
                margin: 0;
                /* Reset page margins to 0 */
                padding: 0;
            }

            table {
                width: calc(100% - 10px);
                /* Adjust the width to create a margin */
                page-break-inside: avoid;
            }

            th,
            td {
                padding: 8px;
                text-align: center;
                vertical-align: middle;
            }

            th {
                background-color: #6e9e9e;
                font-weight: bold;
            }

            /* Adjust the width and height of the logo */
            .logo-cell img {
                width: 150px;
                height: auto;
            }

            /* Add borders to th elements in the first row, excluding the logo cell */
            tr:first-child th:not(.logo-th) {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }

            /* Ensure the right border is visible by reducing padding */
            th,
            td {
                padding: 4px;
                border: 1px solid black;
                /* Add borders to all cells */
            }
        }
    </style>
</head>

<body>
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand mr-auto" href="/">
                            <h2>Go Rush</h2>
                        </a>
                        <ul class="navbar-nav flex-row">
                            <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Operation
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                            <a class="dropdown-item" href="/search">Search</a>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <% } %>
                                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                                <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                                    Checker</a>
                                                <a class="dropdown-item" href="/podGenerator">POD / POC Generator</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item" href="/listofAllOrdersOFD">All Out
                                                    for
                                                    Delivery</a>
                                                <a class="dropdown-item" href="/listofAllOrdersSC">All Self
                                                    Collect</a>
                                                <a class="dropdown-item" href="/listofAllOrdersAW">All
                                                    Warehouse</a>
                                                <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin'
                                                    ].includes(user.role)) { %>
                                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                                    <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                                    <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                                    <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                                    <a class="dropdown-item" href="/listofgrpPod">POD GRP</a>
                                                    <a class="dropdown-item" href="/listoffmxPod">POD FMX</a>
                                                    <a class="dropdown-item" href="/listofcbslPod">POD Cross Border
                                                        Service
                                                        (Limbang)</a>
                                                    <a class="dropdown-item" href="/listofewensPod">POD EWE NON
                                                        SHEIN</a>
                                                    <a class="dropdown-item" href="/listoftemuPoc">POC TEMU</a>
                                                    <% } %>
                                    </div>
                                </li>
                                <% } %>
                                    <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role))
                                        {%>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                MOH
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/mohsearch">Search</a>
                                                <% } %>
                                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                        ].includes(user.role)) { %>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH
                                                            STD</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH
                                                            EXP</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH
                                                            IMM</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH
                                                            TTG</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH
                                                            KB</a>
                                                        <% } %>
                                                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) { %>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <a class="dropdown-item" href="/listofpharmacyMOHForms">Pharmacy
                                                                    Form
                                                                    List</a>
                                                                <% } %>
                                                                    <% if (['moh', 'finance' , 'cs' , 'manager' , 'admin'
                                                                        ].includes(user.role)) { %>
                                            </div>
                                        </li>
                                        <% } %>
        
                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin' ].includes(user.role)) {
                                                %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        EWE
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) { %>
                                                            <a class="dropdown-item" href="/ewemanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <div class="dropdown-header">SHEIN</div>
                                                                <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersCD">Cancelled</a>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <div class="dropdown-header">NON SHEIN</div>
                                                                <a class="dropdown-item" href="/listofEWENSOrders">All</a>
                                                                <a class="dropdown-item" href="/listofEWENSOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofEWENSOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        FMX
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                        <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="temuListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        TEMU
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="temuListDropdown">
                                                        <a class="dropdown-item" href="/listofTEMUCOrders">All</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersOFC">Out for
                                                            Collection</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersDO">Drop
                                                            Off</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>
        
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Others
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                        <a class="dropdown-item" href="/listofOrders">All</a>
                                                        <a class="dropdown-item" href="/listofOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                        <a class="dropdown-item" href="/listofOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyJPMCOrders">JPMC</a>
                                                        <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                        <a class="dropdown-item" href="/listofLDOrders">Local
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                        <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                            Service
                                                            (Limbang)</a>
                                                        <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                        <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                            Co.</a>
                                                        <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                        <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                                    </div>
                                                </li>
                                                <% } %>
        
                                                    <!-- Add conditional rendering for login/logout buttons -->
                                                    <% if (user) { %>
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="accountSettingsDropdown" role="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                            </a>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="accountSettingsDropdown">
                                                                <a class="dropdown-item" href="/">Dashboard</a>
                                                                <% if (['admin'].includes(user.role)) { %>
                                                                    <a class="dropdown-item" href="/createUser">Create
                                                                        User</a>
                                                                    <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                                    <% } %>
                                                                        <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                        <a class="dropdown-item" href="/logout">Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/login">Login</a>
                                                            </li>
                                                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <!-- Logo cell without borders -->
            <td colspan="3" rowspan="2" class="logo-cell"><img src="/images/logo.png" alt="Logo"></td>
            <th>Product:</th>
            <td><%= product %></td>
            <th>POD / POC Date Created:</th>
            <td colspan="4"><%= podCreatedDate %></td>
            <th>Made By:</th>
            <td colspan="2"><%= podCreatedBy %></td>
        </tr>
        <tr>
            <th>Job Date:</th>
            <td><%= deliveryDate %></td>
            <th>Area:</th>
            <td colspan="4"><%= areas %></td>
            <th>Dispatcher:</th>
            <td colspan="2"><%= dispatchers %></td>
        </tr>
        <tr>
            <th>No.</th>
            <th>Fridge</th>
            <th>Tracking No.</th>
            <th>Contact Name</th>
            <th>Contact Address</th>
            <th>Contact No.</th>
            <th>Delivery Type</th>
            <th>Price</th>
            <th>Payment Method</th>
            <th>Remarks (Customer)</th>
            <th>Remarks (Office Use)</th>
            <th>Checked and Received By Finance</th>
            <th>Task Completed</th>
        </tr>
        <% trackingNumbers.forEach(function(item, index) { %>
            <tr>
                <td><%= index + 1 %></td>
                <td contenteditable="true"></td>
                <td>
                    <div class="barcode-container">
                        <svg id="barcode-<%= index %>"></svg> <!-- SVG element for the barcode -->
                        <div class="tracking-number selectable-content"><%= item.trackingNumber %></div>
                    </div>
                    <script>
                        JsBarcode("#barcode-<%= index %>", "<%= item.trackingNumber %>", {
                            format: "CODE128",
                            lineColor: "#000",
                            width: 2,
                            height: 40,
                            displayValue: false
                        });
                    </script>
                </td>
                <td><%= item.deliverToCollectFrom %></td>
                <td><%= item.address %></td>
                <td><%= item.phoneNumber %></td>
                <td><%= item.jobType %></td>
                <td><%= item.totalPrice %></td>
                <td><%= item.paymentMode %></td>
                <td><%= item.remarks %></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td></td>
            </tr>
        <% }); %>
    </table>

    <div class="button-container text-center">
        <button id="saveButton" class="btn btn-success">Save POD / POC</button>
        <button id="printButton" class="btn btn-primary">Print</button>
        <button id="exportExcelButton" class="btn btn-success">Export Excel</button>
        <button id="backButton" class="btn btn-primary" onclick="window.location.href = '/podGenerator'">Back to POD / POC
            Generator</button>
    </div>



    <!-- Add Bootstrap and custom scripts here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function replaceDeliveryTypeValues() {
            const tableRows = document.querySelectorAll('table tr');

            tableRows.forEach(function (row, index) {
                if (index > 2) {
                    const deliveryTypeCell = row.cells[7]; // "Delivery Type" column is the 8th column (index 7)

                    // Get the original delivery type value
                    const originalValue = deliveryTypeCell.textContent.trim();

                    // Replace values based on your criteria
                    let updatedValue = originalValue;
                    if (originalValue.includes("Standard")) {
                        updatedValue = "STD";
                    } else if (originalValue.includes("Express")) {
                        updatedValue = "EXP";
                    } else if (originalValue.includes("Immediate")) {
                        updatedValue = "IMM";
                    }

                    // Set the updated value in the cell
                    deliveryTypeCell.textContent = updatedValue;
                }
            });
        }

        // Call the function when the page loads
        window.addEventListener('load', replaceDeliveryTypeValues);

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('exportExcelButton').disabled = true;
            document.getElementById('printButton').disabled = true;

            document.getElementById('printButton').addEventListener('click', function () {
                window.print();
            });

            document.getElementById("exportExcelButton").addEventListener("click", function () {
                // Get the dispatcher name and delivery date
                const dispatcherName = "<%= dispatchers %>";
                const area = "<%= areas %>";
                const deliveryDate = "<%= deliveryDate %>";

                // Create a new Excel workbook
                const wb = XLSX.utils.book_new();

                // Extract the table data
                const table = document.querySelector('table');
                const ws = XLSX.utils.table_to_sheet(table);

                // Add the worksheet to the workbook
                XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

                // Generate a blob containing the Excel data
                const filename = `${dispatcherName} ${area} ${deliveryDate}.xlsx`;
                XLSX.writeFile(wb, filename);
            });

            document.getElementById('saveButton').addEventListener('click', function () {
                if (confirm('Are you sure you want to save the POD / POC data?')) {
                    // User confirmed the save action

                    // Clone the HTML content and remove the elements you don't want to save
                    const clonedDocument = document.cloneNode(true);

                    // Remove the buttons
                    const buttonsToRemove = clonedDocument.querySelectorAll('#printButton, #exportExcelButton, #backButton, #saveButton');
                    buttonsToRemove.forEach(button => button.remove());

                    // Remove the container-bg
                    const containerBgToRemove = clonedDocument.querySelector('.container-bg');
                    if (containerBgToRemove) {
                        containerBgToRemove.remove();
                    }

                    // Collect the data to be saved
                    const product = "<%= product %>";
                    const podDate = "<%= podCreatedDate %>";
                    const podCreator = "<%= podCreatedBy %>";
                    const deliveryDate = "<%= deliveryDate %>";
                    const area = "<%= areas %>";
                    const dispatcherName = "<%= dispatchers %>";
                    const htmlContent = clonedDocument.documentElement.outerHTML;

                    // Dynamically count the rows by selecting all <tr> elements within the table
                    const rowCount = document.querySelectorAll('table tr').length - 3; // Subtract 3 to exclude header rows

                    console.log(rowCount)

                    // Determine the collection to store the data based on the product
                    let collectionName = "";
                    if (product === 'MOH/JPMC/PHC Pharmacy') {
                        collectionName = 'Pharmacy POD';
                    } else if (product === 'Local Delivery') {
                        collectionName = 'LD POD';
                    } else if (product === 'GRP Delivery') {
                        collectionName = 'GRP POD';
                    } else if (product === 'FMX Delivery') {
                        collectionName = 'FMX POD';
                    } else if (product === 'EWE Delivery') {
                        collectionName = 'EWE POD';
                    } else if (product === 'EWENS Delivery') {
                        collectionName = 'EWENS POD';
                    } else if (product === 'CBSL Delivery') {
                        collectionName = 'CBSL POD';
                    } else if (product === 'TEMU Collection') {
                        collectionName = 'TEMU POC';
                    }

                    console.log(collectionName)

                    // Create a document identifier
                    const podName = `${dispatcherName} ${area} ${deliveryDate}`;

                    fetch('/save-pod', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            podName: podName,
                            product: collectionName,
                            podDate: podDate,
                            podCreator: podCreator,
                            deliveryDate: deliveryDate,
                            area: area,
                            dispatcher: dispatcherName,
                            rowCount: rowCount,
                            htmlContent: htmlContent,
                        })
                    })
                        .then(response => {
                            console.log('Response:', response);
                            if (response.ok) {
                                // Disable the "Save" button
                                document.getElementById('saveButton').disabled = true;
                                // Enable the "Export Excel" button
                                document.getElementById('exportExcelButton').disabled = false;
                                document.getElementById('printButton').disabled = false;
                                alert('POD data saved successfully!');
                            } else {
                                alert('Failed to save POD / POC data.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        });

    </script>
</body>

</html>