<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        .navbar-nav.flex-row {
            flex-direction: row !important;
        }

        .navbar {
            background-color: transparent;
        }

        .container-bg {
            background-color: #333;
        }

        .navbar-nav.flex-row .nav-item {
            margin-right: 10px;
        }

        .bg-red {
            background-color: rgb(255, 110, 110) !important;
        }

        .bg-yellow {
            background-color: yellow !important;
        }

        .bg-blue {
            background-color: rgb(152, 184, 255) !important;
        }

        .bg-green {
            background-color: rgb(137, 253, 126) !important;
        }

        .btn-submit {
            margin-top: 10px;
        }

        th,
        td {
            font-size: 15px;
            text-align: center;
        }

        table {
            width: 100%;
            margin: 0 auto;
        }

        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container-bg">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand mr-auto" href="/">
                            <h2>Go Rush</h2>
                        </a>
                        <ul class="navbar-nav flex-row">
                            <% if (['warehouse', 'cs' , 'dispatcher' , 'manager' , 'admin' ].includes(user.role)) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Operation
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                        <% if (['warehouse', 'cs' , 'manager' , 'admin' ].includes(user.role)) { %>
                                            <a class="dropdown-item" href="/search">Search Pharmacy Order</a>
                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                            <% } %>
                                                <a class="dropdown-item" href="/updateDelivery">Update Delivery</a>
                                                <a class="dropdown-item" href="/addressAreaCheck">Address Area
                                                    Checker</a>
                                                <a class="dropdown-item" href="/podGenerator">POD / POC Generator</a>
                                                <div class="dropdown-divider"></div> <!-- Divider here -->
                                                <a class="dropdown-item" href="/listofAllOrdersOFD">All Out
                                                    for
                                                    Delivery / Collection</a>
                                                <a class="dropdown-item" href="/listofAllOrdersSC">All Self
                                                    Collect / Drop Off</a>
                                                <a class="dropdown-item" href="/listofAllOrdersAW">All
                                                    Warehouse</a>
                                                <a class="dropdown-item" href="/listofAllOrdersIR">All
                                                    New Orders from Website</a>
                                                <a class="dropdown-item" href="/listofWargaEmasOrders">All
                                                    Warga Emas Orders</a>
                                                <% if (['finance', 'cs' , 'warehouse' , 'manager' , 'admin'
                                                    ].includes(user.role)) { %>
                                                    <div class="dropdown-divider"></div> <!-- Divider here -->
                                                    <a class="dropdown-item" href="/listofpharmacyPod">POD Pharmacy</a>
                                                    <a class="dropdown-item" href="/listofewePod">POD EWE</a>
                                                    <a class="dropdown-item" href="/listofldPod">POD LD</a>
                                                    <!-- <a class="dropdown-item" href="/listofgrpPod">POD GRP</a> -->
                                                    <!-- <a class="dropdown-item" href="/listoffmxPod">POD FMX</a> -->
                                                    <a class="dropdown-item" href="/listofcbslPod">POD Cross Border
                                                        Service
                                                        (Limbang)</a>
                                                    <!-- <a class="dropdown-item" href="/listofewensPod">POD EWE NON
                                                        SHEIN</a> -->
                                                    <!-- <a class="dropdown-item" href="/listoftemuPod">POD TEMU</a> -->
                                                    <a class="dropdown-item" href="/listoftemuPoc">POC TEMU</a>
                                                    <a class="dropdown-item" href="/listofkptdpPod">POD KPTDP</a>
                                                    <!-- <a class="dropdown-item" href="/listofkptdfPod">POD KPTDF</a> -->
                                                    <a class="dropdown-item" href="/listofpduPod">POD PDU</a>
                                                    <a class="dropdown-item" href="/listofmglobalPod">POD MGLOBAL</a>
                                                    <% } %>
                                    </div>
                                </li>
                                <% } %>
                                    <% if (['moh', 'warehouse' , 'finance' , 'cs' , 'manager' , 'admin'
                                        ].includes(user.role)) {%>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                MOH
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                <a class="dropdown-item" href="/mohsearch">Search</a>
                                                <% } %>
                                                    <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                        ].includes(user.role)) { %>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrders">All</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyMOHOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item" href="/listofpharmacyMOHSTDOrders">MOH
                                                            STD</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHEXPOrders">MOH
                                                            EXP</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHIMMOrders">MOH
                                                            IMM</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHTTGOrders">MOH
                                                            TTG</a>
                                                        <a class="dropdown-item" href="/listofpharmacyMOHKBOrders">MOH
                                                            KB</a>
                                                        <% } %>
                                                            <% if (['cs', 'manager' , 'admin' ].includes(user.role)) {
                                                                %>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <a class="dropdown-item"
                                                                    href="/listofpharmacyMOHForms">Pharmacy
                                                                    Form
                                                                    List</a>
                                                                <% } %>
                                                                    <% if (['moh', 'finance' , 'cs' , 'manager'
                                                                        , 'admin' ].includes(user.role)) { %>
                                            </div>
                                        </li>
                                        <% } %>

                                            <% if (['warehouse', 'finance' , 'cs' , 'manager' , 'admin'
                                                ].includes(user.role)) { %>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="eweListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        EWE
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="eweListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) {
                                                            %>
                                                            <a class="dropdown-item"
                                                                href="/ewemanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <!-- <div class="dropdown-header">SHEIN</div> -->
                                                                <a class="dropdown-item" href="/listofEWEOrders">All</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersOFD">Out
                                                                    for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofEWEOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWEOrdersCD">Cancelled</a>
                                                                <div class="dropdown-divider"></div>
                                                                <!-- Divider here -->
                                                                <!-- <div class="dropdown-header">NON SHEIN</div>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrders">All</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersOFD">Out for
                                                                    Delivery</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofEWENSOrdersCD">Cancelled</a> -->
                                                    </div>
                                                </li>

                                                <!-- <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="fmxListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        FMX
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="fmxListDropdown">
                                                        <a class="dropdown-item" href="/listofFMXOrders">All</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofFMXOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofFMXOrdersCD">Cancelled/Disposed</a>
                                                    </div>
                                                </li> -->

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="temuListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        TEMU
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="temuListDropdown">
                                                        <div class="dropdown-header">Collection</div>
                                                        <a class="dropdown-item" href="/listofTEMUCOrders">All</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersOFC">Out for
                                                            Collection</a>
                                                        <a class="dropdown-item" href="/listofTEMUCOrdersDO">Drop
                                                            Off</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCD">Cancelled</a>
                                                        <!-- <div class="dropdown-divider"></div>
                                                        <div class="dropdown-header">Delivery</div>
                                                        <a class="dropdown-item" href="/listofTEMUDOrders">All</a>
                                                        <a class="dropdown-item" href="/listofTEMUDOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofTEMUDOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUDOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofTEMUCOrdersCD">Cancelled</a> -->
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="kptListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        KPT
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="kptListDropdown">
                                                        <div class="dropdown-header">Duty Paid</div>
                                                        <a class="dropdown-item" href="/listofKPTDPOrders">All</a>
                                                        <a class="dropdown-item" href="/listofKPTDPOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofKPTDPOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofKPTDPOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofKPTDPOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofKPTDPOrdersCD">Cancelled</a>
                                                        <!-- <div class="dropdown-divider"></div>
                                                        <div class="dropdown-header">Duty Free</div>
                                                        <a class="dropdown-item" href="/listofKPTDFOrders">All</a>
                                                        <a class="dropdown-item" href="/listofKPTDFOrdersOFD">Out for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofKPTDFOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item"
                                                            href="/listofKPTDFOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item"
                                                            href="/listofKPTDFOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item"
                                                            href="/listofKPTDFOrdersCD">Cancelled</a> -->
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="pduListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        PDU
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="pduListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) {
                                                            %>
                                                            <a class="dropdown-item"
                                                                href="/pdumanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <a class="dropdown-item" href="/listofPDUOrders">All</a>
                                                                <a class="dropdown-item" href="/listofPDUOrdersOFD">Out
                                                                    for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofPDUOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofPDUOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofPDUOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofPDUOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="pduListDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        MGLOBAL
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="pduListDropdown">
                                                        <% if (['finance', 'manager' , 'admin' ].includes(user.role)) {
                                                            %>
                                                            <a class="dropdown-item"
                                                                href="/mglobalmanifesttobillsearch">Search
                                                                Manifest to Bill</a>
                                                            <div class="dropdown-divider"></div> <!-- Divider here -->
                                                            <% } %>
                                                                <a class="dropdown-item" href="/listofMGLOBALOrders">All</a>
                                                                <a class="dropdown-item" href="/listofMGLOBALOrdersOFD">Out
                                                                    for
                                                                    Delivery</a>
                                                                <a class="dropdown-item" href="/listofMGLOBALOrdersSC">Self
                                                                    Collect</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofMGLOBALOrdersAW">Warehouse</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofMGLOBALOrdersCompleted">Completed</a>
                                                                <a class="dropdown-item"
                                                                    href="/listofMGLOBALOrdersCD">Cancelled</a>
                                                    </div>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="allOrdersDropdown"
                                                        role="button" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Others
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                                        <a class="dropdown-item" href="/listofOrders">All</a>
                                                        <a class="dropdown-item" href="/listofOrdersOFD">Out
                                                            for
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofOrdersSC">Self
                                                            Collect</a>
                                                        <a class="dropdown-item" href="/listofOrdersAW">Warehouse</a>
                                                        <a class="dropdown-item" href="/listofOrdersIRCC">New</a>
                                                        <a class="dropdown-item"
                                                            href="/listofOrdersCompleted">Completed</a>
                                                        <a class="dropdown-item" href="/listofOrdersCD">Cancelled</a>
                                                        <div class="dropdown-divider"></div> <!-- Divider here -->
                                                        <a class="dropdown-item"
                                                            href="/listofpharmacyJPMCOrders">JPMC</a>
                                                        <a class="dropdown-item" href="/listofpharmacyPHCOrders">PHC</a>
                                                        <a class="dropdown-item" href="/listofLDOrders">Local
                                                            Delivery</a>
                                                        <a class="dropdown-item" href="/listofGRPOrders">GRP</a>
                                                        <a class="dropdown-item" href="/listofCBSLOrders">Cross Border
                                                            Service
                                                            (Limbang)</a>
                                                        <a class="dropdown-item" href="/listofPURE51orders">Pure51</a>
                                                        <a class="dropdown-item" href="/listofBBOrders">Baiduri Bank</a>
                                                        <a class="dropdown-item" href="/listofFCASOrders">Fathan &
                                                            Co.</a>
                                                        <a class="dropdown-item" href="/listofLDJBOrders">Joybean</a>
                                                        <a class="dropdown-item" href="/listofICARUSOrders">ICARUS</a>
                                                        <a class="dropdown-item" href="/listofFMXOrders">FMX</a>
                                                        <a class="dropdown-item" href="/listofEWENSOrders">EWENS</a>
                                                    </div>
                                                </li>
                                                <% } %>

                                                    <!-- Add conditional rendering for login/logout buttons -->
                                                    <% if (user) { %>
                                                        <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#"
                                                                id="accountSettingsDropdown" role="button"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <%= user.name %> (<%= user.role.toUpperCase() %>)
                                                            </a>
                                                            <div class="dropdown-menu"
                                                                aria-labelledby="accountSettingsDropdown">
                                                                <a class="dropdown-item" href="/">Dashboard</a>
                                                                <% if (['admin'].includes(user.role)) { %>
                                                                    <a class="dropdown-item" href="/createUser">Create
                                                                        User</a>
                                                                    <!-- <a class="dropdown-item" href="#">Manage Users</a> -->
                                                                    <% } %>
                                                                        <!-- <a class="dropdown-item" href="#">Edit
                                                                            Profile</a> -->
                                                                        <a class="dropdown-item"
                                                                            href="/logout">Logout</a>
                                                            </div>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="nav-item">
                                                                <a class="nav-link" href="/login">Login</a>
                                                            </li>
                                                            <% } %>
                        </ul>
                    </nav>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center mt-4">Search</h1>
        <form action="/search" method="post">
            <div class="form-group">
                <label for="patientNumber">Patient Number</label>
                <input type="text" id="patientNumber" name="patientNumber" class="form-control"
                    value="<%= searchQuery.patientNumber %>">
            </div>
            <div class="form-group">
                <label for="icPassNum">IC/Passport Number</label>
                <input type="text" id="icPassNum" name="icPassNum" class="form-control"
                    value="<%= searchQuery.icPassNum %>">
            </div>
            <div class="form-group">
                <label for="receiverNumber">Phone Number</label>
                <input type="text" id="receiverPhoneNumber" name="receiverPhoneNumber" class="form-control"
                    value="<%= searchQuery.receiverPhoneNumber %>">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- Modal for Reorder -->
    <div class="modal fade" id="reorderModal" tabindex="-1" role="dialog" aria-labelledby="reorderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reorderModalLabel">Reorder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="reorderForm">
                        <div class="form-group">
                            <label for="jobMethod">Job Method</label>
                            <select id="jobMethod" class="form-control" required>
                                <!-- Options will be dynamically added based on the address -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="paymentMethod">Payment Method</label>
                            <select id="paymentMethod" class="form-control" required>
                                <option value="Cash">Cash</option>
                                <option value="Bill Payment (BIBD)">Bill Payment (BIBD)</option>
                                <option value="Bank Transfer (BIBD)">Bank Transfer (BIBD)</option>
                                <option value="Bank Transfer (Baiduri)">Bank Transfer (Baiduri)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="remarks">Remarks</label>
                            <input type="text" id="remarks" class="form-control"
                                placeholder="Add any remarks (optional)">
                        </div>
                        <input type="hidden" id="trackingNumber" />
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="results" class="mt-4">
        <table class="table" id="orderTable">
            <thead>
                <tr>
                    <th class="header">Action</th>
                    <th class="header">Product</th>
                    <th class="header">Tracking No.</th>
                    <th class="header">Customer Name</th>
                    <th class="header">Current Status</th>
                    <th class="header">Assigned To</th>
                    <th class="header">Job Date</th>
                    <th class="header">Attempt No.</th>
                    <th class="header">Latest Reason</th>
                    <th class="header">Warehouse Entry Date</th>
                    <th class="header">Age in Warehouse</th>
                    <th class="header">Last Update</th>
                    <th class="header">Last Update By</th>
                    <th class="header">Order Created</th>
                    <th class="header">Phone No.</th>
                    <th class="header">Additional Phone No.</th>
                    <th class="header">Address</th>
                    <th class="header">Area</th>
                    <th class="header">Patient No.</th>
                    <th class="header">IC/Passport No.</th>
                    <th class="header">Appointment Place</th>
                    <th class="header">Job Type</th>
                    <th class="header">Payment Method</th>
                    <th class="header">Price</th>
                    <th class="header">Remarks</th>
                </tr>
            </thead>
            <tbody id="results-body">
                <% if (orders.length===0) { %>
                    <tr>
                        <td colspan="15" class="text-center">No records found</td>
                    </tr>
                    <% } else { %>
                        <% orders.forEach(order=> { %>
                            <tr>
                                <td>
                                    <button class="btn btn-primary reorder-btn"
                                        data-tracking="<%= order.doTrackingNumber %>"
                                        data-address="<%= order.receiverAddress %>"
                                        data-product="<%= order.product %>">Reorder</button>
                                </td>
                                <td>
                                    <%= order.product %>
                                </td>
                                <td>
                                    <%= order.doTrackingNumber %>
                                </td>
                                <td>
                                    <%= order.receiverName %>
                                </td>
                                <td>
                                    <%= order.currentStatus %>
                                </td>
                                <td>
                                    <%= order.assignedTo %>
                                </td>
                                <td>
                                    <%= order.jobDate %>
                                </td>
                                <td>
                                    <%= order.attempt %>
                                </td>
                                <td>
                                    <%= order.latestReason %>
                                </td>
                                <td>
                                    <%= moment(order.warehouseEntryDateTime).format('DD-MM-YYYY') %>
                                </td>
                                <td>
                                    <% if (order.currentStatus !=="Completed" ) { %>
                                        <% if (order.warehouseEntry==="No" ) { %>
                                            0
                                            <% } else { %>
                                                <% const entryDate=new Date(order.warehouseEntryDateTime); %>
                                                    <% const currentDate=new Date(); %>
                                                        <% const ageInMilliseconds=currentDate - entryDate; %>
                                                            <% const ageInDays=Math.floor(ageInMilliseconds / (1000 * 60
                                                                * 60 * 24)); %>
                                                                <%= ageInDays %>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <!-- Add an empty cell or any placeholder when the status is "Completed" -->
                                                                            <!-- Adjust the colspan to match the number of columns in the table -->
                                                                            <% } %>
                                </td>
                                <td>
                                    <%= moment(order.lastUpdateDateTime).utcOffset(8).format('DD-MM-YYYY h:mm a') %>
                                </td>
                                <td>
                                    <%= order.lastUpdatedBy %>
                                </td>
                                <td>
                                    <%= order.dateTimeSubmission %>
                                </td>
                                <td>
                                    <%= order.receiverPhoneNumber %>
                                </td>
                                <td>
                                    <%= order.additionalPhoneNumber %>
                                </td>
                                <td>
                                    <%= order.receiverAddress %>
                                </td>
                                <td>
                                    <%= order.area %>
                                </td>
                                <td>
                                    <%= order.patientNumber %>
                                </td>
                                <td>
                                    <%= order.icPassNum %>
                                </td>
                                <td>
                                    <%= order.appointmentPlace %>
                                </td>
                                <td>
                                    <%= order.deliveryTypeCode %>
                                </td>
                                <td>
                                    <%= order.paymentMethod %>
                                </td>
                                <td>
                                    <%= order.paymentAmount %>
                                </td>
                                <td>
                                    <%= order.remarks %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            // Initialize DataTable for the order table
            const table = $('#orderTable').DataTable({
                "ordering": false,  // Disable client-side sorting
                "iDisplayLength": 100,  // Set the default number of entries to 100
                "dom": 'Bfrtip', // Add buttons to the DOM
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print' // Buttons for copy, CSV, Excel, PDF, and print
                ]
            });
        });
    </script>

    <script>
        document.querySelectorAll('.reorder-btn').forEach(button => {
            button.addEventListener('click', function () {
                const trackingNumber = this.getAttribute('data-tracking');
                const address = this.getAttribute('data-address').toLowerCase();
                const product = this.getAttribute('data-product'); // Get the product

                // Populate Job Method based on the address and product
                const jobMethodSelect = document.getElementById('jobMethod');
                jobMethodSelect.innerHTML = ''; // Clear existing options

                // Get current day and time using moment.js
                const currentDay = moment().day(); // 0 = Sunday, 1 = Monday, ..., 6 = Saturday
                const currentTime = moment().hour(); // Get the current hour in 24-hour format

                // Function to check availability of Express
                function isExpressAvailable() {
                    // Not available on Thursday from 11am and onwards, full days on Friday and Saturday
                    if (currentDay === 4 && currentTime >= 11) { // Thursday after 11am
                        return false;
                    } else if (currentDay === 5 || currentDay === 6) { // Friday and Saturday full day
                        return false;
                    }
                    return true;
                }

                // Function to check availability of Immediate
                function isImmediateAvailable() {
                    // Not available on Friday (day 5) and Sunday (day 0), only available from 8am to 3pm on other days
                    if (currentDay === 0 || currentDay === 5) { // Sunday or Friday
                        return false;
                    }
                    return currentTime >= 8 && currentTime <= 15;
                }

                if (product === 'pharmacymoh') {
                    if (address.includes('brunei muara') || address.includes('brunei-muara')) {
                        jobMethodSelect.innerHTML += '<option value="Standard">Standard</option>';

                        if (isExpressAvailable()) {
                            jobMethodSelect.innerHTML += '<option value="Express">Express</option>';
                        }

                        if (isImmediateAvailable()) {
                            jobMethodSelect.innerHTML += '<option value="Immediate">Immediate</option>';
                        }

                        jobMethodSelect.innerHTML += '<option value="Self Collect">Self Collect</option>';
                    } else {
                        jobMethodSelect.innerHTML += '<option value="Standard">Standard</option>';
                        jobMethodSelect.innerHTML += '<option value="Self Collect">Self Collect</option>';
                    }
                } else if (product === 'pharmacyjpmc') {
                    if (address.includes('brunei muara') || address.includes('brunei-muara')) {
                        jobMethodSelect.innerHTML += '<option value="Standard">Standard</option>';

                        if (isExpressAvailable()) {
                            jobMethodSelect.innerHTML += '<option value="Express">Express</option>';
                        }

                        jobMethodSelect.innerHTML += '<option value="Self Collect">Self Collect</option>';
                    } else {
                        jobMethodSelect.innerHTML += '<option value="Standard">Standard</option>';
                        jobMethodSelect.innerHTML += '<option value="Self Collect">Self Collect</option>';
                    }
                } else if (product === 'pharmacyphc') {
                    jobMethodSelect.innerHTML += '<option value="Standard">Standard</option>';
                    jobMethodSelect.innerHTML += '<option value="Self Collect">Self Collect</option>';
                }

                // Set the tracking number in a hidden input
                document.getElementById('trackingNumber').value = trackingNumber;

                // Show the modal
                $('#reorderModal').modal('show');
            });
        });

        // Handle form submission for reorder
        document.getElementById('reorderForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const trackingNumber = document.getElementById('trackingNumber').value;
            const jobMethod = document.getElementById('jobMethod').value;
            const paymentMethod = document.getElementById('paymentMethod').value;
            const remarks = document.getElementById('remarks').value; // Get the remarks value

            try {
                const response = await fetch('/reorder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        trackingNumber,
                        jobMethod,
                        paymentMethod,
                        remarks // Include remarks in the request
                    })
                });

                const result = await response.json();

                if (result.success) {
                    alert('Order is submitted');
                } else {
                    alert('Order submission failed');
                }

                $('#reorderModal').modal('hide');
            } catch (error) {
                console.error('Error submitting reorder:', error);
                alert('An error occurred while submitting the order.');
            }
        });
    </script>

</body>

</html>